<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429836739344-rdhjub3kfr8nd29qsboe5vdbb15ee6gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429836739344-rdhjub3kfr8nd29qsboe5vdbb15ee6gs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>429836739344-ocugd15doq36s3395t2toab9sc7lnvt1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzIaGX9ILnu4_5dJKPYPu_BtxyDFJCj20</string>
	<key>GCM_SENDER_ID</key>
	<string>429836739344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exinitylogin</string>
	<key>PROJECT_ID</key>
	<string>exinitylogin</string>
	<key>STORAGE_BUCKET</key>
	<string>exinitylogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429836739344:ios:f0497d752531c812727b95</string>
</dict>
</plist>